.homePageSlider {
  overflow: hidden;
  padding: 0 0 150px;
  &_wrapper {
    padding: 0 0 20px;
    max-width: 1040px;
    margin: 0 auto;
    @media (max-width: 1199px) {
      max-width: 912px;
    }
    @media (max-width: 991px) {
      max-width: 700px;
    }
    @media (max-width: 767px) {
      padding: 0;
      max-width: 100%;
    }
    .slider {
      margin: 0 auto;
    }

    .slick-track {
      padding-top: 80px;
      padding-bottom: 80px;
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        padding: 0 0 60px;
      }
    }

    .slick-slide {
      text-align: center;
      transition: transform 0.3s ease-in-out;
    }

    .slick-slide:not(.slick-current) {
      opacity: 1;
      @media (max-width: 767px) {
        opacity: 1;
      }
    }

    .slick-slide.slick-current {
      transform: scaleX(1.3) scaleY(1.2);
      position: relative;
      z-index: 1;
      @media (max-width: 767px) {
        transform: scale(1);
      }
    }

    .slick-slide img {
      width: 100%;
    }
  }
  .image_text {
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 107.91%; /* 38.128px */
    padding: 8px 10px;
  }
  .slider_thumbnail_wrapper .slick-slide.slick-current {
    transform: scale(1);
  }
  .slider_thumbnail_wrapper .slick-slide:not(.slick-current) {
    filter: brightness(0.5);
    opacity: 0.2;
  }
  .slider_btn {
    margin: 40px 0 0;
    text-align: center;
    a {
      background-color: #f90;
      color: #000;
      padding: 10px 40px;
      text-decoration: none;
    }
  }
  .slidethumbnail {
    padding: 0 0 40px;
  }
  .thumbnail_text {
    text-align: center;
    padding: 0 15px;
  }

  .slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: #f90;
  }
  .slick-dots li button:before {
    font-size: 12px;
  }

  .slick-slide.slick-active.slick-center.slick-current .card_content {
    box-shadow: 14px 15px 22px -18px #111
  }
}
