$color_1: #000;
$color_2: #6a1c1c;
$font-family_1: Inria Serif;
$background-color_1: #fff3e8;
$background-color_2: white;
$background-color_3: #f90;
.homePageCounter {
  position: relative;

  .centerOuterColor {
    background-color: $background-color_1;
  }
  .centerOuter {
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding-top: 6rem;
    padding-bottom: 20rem;
  }
  .centerNumber {
    color: $color_1;
    font-family: $font-family_1;
    font-size: 111.756px;
    padding: 3rem 2rem;
    font-style: normal;
    width: 190px;
    text-align: center;
    border-radius: 35px;
    font-weight: 400;
    line-height: normal;
    background-color: $background-color_2;
    letter-spacing: -1.118px;
  }
  .CenterText {
    color: $color_1;
    padding: 3rem 2rem;
    font-family: $font-family_1;
    font-size: 111.756px;
    font-style: normal;
    background-color: $background-color_3;
    border-radius: 35px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.118px;
  }
  .centerBlogText {
    transform: translate(-50%, -50%);
    color: $color_2;
    top: 73%;
    left: 50%;
    position: absolute;
    font-family: $font-family_1;
    font-size: 59px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.59px;
  }
}
