.aboutAshram {
  background-color: rgba(255, 234, 174, 0.16);
  height: 100vh;
  &_wrapper {
    &_image {
      position: relative;
      height: 500px;
      .shape_image {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        &.leaf1 {
          left: 56%;
          bottom: 0;
          img {
            width: 300px;
            height: 299px;
          }
        }
        &.leaf2 {
          left: 42%;
          bottom: 22px;
          z-index: 1;
          img {
            width: 103px;
            height: 157px;
          }
        }
        &.leaf3 {
          left: 42%;
          bottom: 0;
          z-index: 2;
          img {
            width: 55px;
            height: 100%;
          }
        }
        &.leaf4 {
          left: 42%;
          bottom: 95px;
          img {
            width: 150px;
            height: 100%;
          }
        }
        &.main_image {
          z-index: 1;
        }
      }
    }
  }
}
