.eventsHomePage {
  background-color: #1d5a3f;
  &_wrapper {
    display: flex;
    padding: 150px 240px;
    align-items: center;
    @media(max-width:1600px){
      padding: 150px 140px;
    }
    @media(max-width:1440px){
      padding: 150px 110px;
    }
    &_left {
      width: 70%;
      .eventHomeItem {
        padding-right: 200px;
        margin: 0 0 64px;
        &:nth-child(even) {
          transform: translateX(180px);
        }
        &_wrapper {
          display: flex;

          &_left {
            width: 200px;
            .eventItem_image {
              height: 100%;
              img {
                max-width: 100%;
                display: block;
                height: 100%;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                width: 100%;
              }
            }
          }
          &_right {
            display: flex;
            background-color: #fff;
            padding: 20px;
            width: 300px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            position: relative;
            .eventItem_content {
              h5 {
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                width: 152px;
              }
              .eventname {
                color: #9c9c9c;
                font-size: 8px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                font-family: "Poppins";
              }
              .date {
                color: #9c9c9c;
                font-size: 8px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                font-family: "Poppins";
              }
              .location {
                color: #208df2;
                font-size: 8px;
                font-style: normal;
                font-weight: 400;
                line-height: 250%;
                text-decoration-line: underline;
                font-family: "Poppins";
              }
            }
            .boxDateSec {
              position: absolute;
              top: -34px;
              right: 55px;
              .month {
                color: #fff;
                font-family: "Poppins";
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; /* 24px */
                text-transform: uppercase;
                background-color: #f90;
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
                padding: 5px 10px;
              }
              .boxDate {
                color: #000;
                font-family: "Poppins";
                font-size: 53px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; /* 79.5px */
                text-transform: uppercase;
                background: #d9d9d9;
                border-bottom-right-radius: 15px;
                border-bottom-left-radius: 15px;
                padding: 0 5px;
                span {
                  color: #000;
                  font-family: "Poppins";
                  font-size: 19px;
                  font-style: normal;
                  font-weight: 300;
                  line-height: 150%; /* 28.5px */
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }
    &_right {
      width: 30%;
      &_content {
        h2 {
          color: #fff;
          font-size: 59px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.59px;
          margin: 0 0 20px;
        }
        p {
          color: #fff;
          font-size: 18.563px;
          font-style: normal;
          font-weight: 400;
          line-height: 130.092%;
          margin: 0 0 26px;
          width: 328px;
        }
        a {
          background-color: #f90;
          color: #000;
          text-decoration: none;
          width: 200px;
          display: block;
          text-align: center;
          padding: 10px 15px;
        }
      }
    }
  }
}
