.homePage3D {
  .eyesOuter {
    background: #ffe1d1;
    padding-top: 4rem;
    padding-bottom: 6rem;
  }
  .eyesImageOuter {
    text-align: center;
  }
  .eyesTextOuter {
    text-align: center;
    margin-top: 3rem;
  }
  .eyesText {
    color: #123828;
    font-family: Lohit Devanagari;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
