
h1 {
  font-family: "Inria Serif";
}
h2 {
  font-family: "Inria Serif";
}
h3 {
  font-family: "Inria Serif";
}
h4 {
  font-family: "Inria Serif";
}
h5 {
  font-family: "Inria Serif";
}
h6 {
  font-family: "Inria Serif";
}
p {
  font-family: "Inria Serif";
}
span {
  font-family: "Inria Serif";
}
a {
  font-family: "Inria Serif";
}
div {
  font-family: "Inria Serif";
}
ul{
  list-style: none;
  font-family: "Inria Serif";
}
li{
  font-family: "Inria Serif";
}